version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: saas_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: saas_db
    ports:
      - "5432:5432"
